@font-face {
	font-family: "Sweet Sans Pro";
	src: url(fonts/SweetSansPro-Regular.otf);
}
@font-face {
	font-family: "Sweet Sans Pro";
	font-weight: bold; 
	src: url(fonts/SweetSansPro-Bold.otf);
}

body { margin: 0; font-family: "Sweet Sans Pro", "Source Sans Pro", "Montserrat", sans-serif; font-size:14.2pt;}

#content-box-sizing,
.header, .buses, .places, .bus, div.title {box-sizing: border-box;}

#reduced-line-height,
h2, th, .places, .disclaimer, .waypoints, .footer .cell, .stopid {line-height:90%;}

.soldierName { padding-right: 15px; }
.page12 { position: relative; overflow:hidden; height: 1700px; width:1100px; background-color: #FFF;}
.page34 { position: relative; overflow:hidden; height: 1100px; width:1700px; background-color: #FFF;}
.alt-lang {color:#999; font-style: italic; font-size:70%;}

.header { background-color: #101010; height:130px; -webkit-print-color-adjust: exact; position: relative; }
.header .logo { width: 390px; float: left; margin-top: 15px; }
.header .header-content { float: left; width: 700px; }
.header .header-content h1 { margin: 15px 0 0 0; padding: 0; color: #fff; text-align: right; font-size: 30px; white-space:nowrap; }
.header .header-content .info { width:100%; margin: 0px 0 0 0; padding: 0; font-size: 13px; color: #ddd; text-align:right; }
/*.header .header-content .info p.verify { width: 564px; padding-right: 15px; border-right: 1px solid #ddd;}*/
.header .header-content .info p.stopid { font-size: 22px; margin: 0; }
.header .header-content .info p.stopid span { display:inline-block; width: 150px; }

.page12 .map-container { width: 100%; height: 100%; background-color: #eee; float:left; }
.mapFold { height: 720px; width:100%; background-color: #d0d0d0; }
.buses { height: 720px; width:100%; background-color: #d0d0d0; overflow:hidden; padding-bottom:5px; margin-bottom:10px; }

.bus { float: left; border: 2px solid #d0d0d0; background-color: #FFF; padding-bottom: 10px; height:100%;}
.bus .title { background-color: #d0d0d0; padding-top:2px;}
.bus .title .places { height: 70px; }
.bus .title.route1 { background-color:#ffb3d1; } 
.bus .title.route2 { background-color:#b3d9ff; } 
.bus .title.route3 { background-color:#c2f0c2; } 
.bus .title.route4 { background-color:#f0b3ff; } 
.bus .title h3 { font-size: 60px; margin: 0px 10px 0px 2px; padding:14px 8px 2px 8px; color: #FFFFFF; height:60%; float: left; background-color: #FFFFFF; border-radius:8px; min-width:0.8em; text-align:center; } 
.bus .title h3.route1 { color:#ff0066; border-bottom: 8px solid #ff0066; } 
.bus .title h3.route2 { color:#0066cc; border-bottom: 8px solid #0066cc; } 
.bus .title h3.route3 { color:#29a329; border-bottom: 8px solid #29a329; } 
.bus .title h3.route4 { color:#a300cc; border-bottom: 8px solid #a300cc; } 

/*.bus .title.MARTA h3 {color: #00aeef; }*/
/*.bus .title.MARTA { background-color: #00aeef; }
.bus .title.CCT { background-color: #cc66ff; }
.bus .title.GCT { background-color: #c41013; }
.bus .title.GRTA { background-color: #66cc99; }*/
.bus .title .origin-destination { font-weight:bold; white-space: nowrap; font-size:24px; padding-top:6px;}
.bus .title .waypoints { font-size:18px; padding-top:3px; display:none; }

.bus table { border-collapse:collapse; }
.bus table.schedule { margin-left: auto; margin-right: auto; clear: both;}
.bus table.schedule th { text-align: left; padding-left: 10pt; font-weight:normal; }
.bus table.schedule th, .bus table.schedule td { border-right: 1px solid #ccc; vertical-align: top; }
.bus table.schedule th:last-child, .bus table.schedule td:last-child { border-right: none; }
.bus table.schedule td ul { list-style-type: none; padding: 0px; margin:0px; white-space: nowrap; }
.bus table.schedule td ul li { white-space: nowrap; }
.bus table.schedule td ul li.ampm-heading { margin:5px 0 -5px 0; padding:0; line-height:100%; text-align:center; background-color:#ddd; font-size:12px; }
/*.bus table.schedule td ul li.pm { font-weight:bold; }*/
.bus table.schedule td ul li span {	display: inline-block; width: 2.3em; text-align:left; }
.bus table.schedule td ul li span:first-child {width: 1.4em; text-align:right;}


.footer { clear: both; height: 130px; background-color: #FFFFFF; overflow: hidden; position: relative; }
.footer .disclaimer { clear:both; font-size: 14px; padding-left: 15px; color: #555; padding-bottom:10px;}
.footer .adopter { position: relative;top: 0px; left: 15px; width: 300px; }
.footer .adopter .adopterName {display:inline-block; font-size: 30px; margin-top:15px; font-weight:bold; }
.footer .cell {width:33%; float:left; }
.footer .cell-cleanup {clear:both; height:0px; }
.footer .QR-text { float: right; }
.footer img.QR { float: right; margin-left:0px; }
.footer p { margin: 0; padding-top:0px; }

#footer_content_height,
.army_signup, .footer img.QR {height:80px;  }
strike, .detour {
    color: #C00000;
    font-size:85%;
}

.top-hole, .bottom-hole {
	text-align:center;
	width:100%;
	height:3em;
	color:#CCFF00;
}

